* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #333;
    line-height: 1.6;
}

/* Menu de navegação */


nav {
    background-color: #222;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 20px;
    
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #f5a623;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/planoFundo.webp'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem se ajusta dentro do header */
    background-position: center;
    background-attachment: fixed; /* Efeito de paralaxe */
    background-repeat: no-repeat;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Efeito opaco com 50% de transparência */
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2; /* Garante que o conteúdo esteja acima do overlay */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.text-section {
    position: relative;
    z-index: 2; /* Coloca o texto acima do fundo */
    color: #fff; /* Texto branco para destacar sobre o fundo */
    text-align: left; /* Alinha o texto à esquerda */
}


.image-section {
    width: 35%;
    position: relative; /* Permite o posicionamento do pseudo-elemento */
    margin-right: 60px;
    
}

.image-section img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.image-section img:hover{
    transform: scale(1.2);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {

    header {
        height: auto;
        padding: 65px 0;
    }

    .perfil{
        margin-left: 45px;
        
    }

    .about-section{
        justify-content: center;
        
    }


    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .menu li a {
        font-size: 0.8rem; /* Diminui o tamanho da fonte do menu */
    }

    .text-section, .image-section {
        width: 100%;
    }

    .text-section {
        margin-bottom: 20px;
        
    }

    .image-section {
        width: 100%; /* A imagem ocupa 100% da largura em telas menores */
        margin-right: 0;
        margin-bottom: 20px; /* Adiciona espaço abaixo da imagem */
    }

    .image-section img {
        max-width: 250px; /* Limita a largura máxima em telas pequenas */
        height: auto;
        margin: 0 auto; /* Centraliza a imagem */
        border-radius: 50%; /* Mantém o estilo arredondado */
        transform: translateY(-20px); /* Move a imagem 10px para cima */
    }

    .skills {
        justify-content: center;
    }
    
    .skill-item {
        align-items: center;
    }


}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.text-section h1 {
    color: #f5a623;

    font-size: 3rem;
    margin-bottom: 10px;
}

.text-section h2 {
    font-size: 2.5rem;
}

.text-section p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f5a623;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
    margin: 10px 0px;
}

.btn:hover {
    background-color: #e59423;
}

main {
    padding: 50px 0;
}

#about{
    background-color: #333;
    padding-top: 50px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px; 
}

.about-section img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.about-content {
    max-width: 800px;
    
}

.SobreMim{
    opacity: 0; /* O texto começa invisível */
    transform: translateY(30px); /* Deslocamento inicial para baixo */
    transition: opacity 2.5s ease, transform 2.5s ease; /* Transição suave */
    margin: 30px 30px 0px 20px;
}

.SobreMim h2{
    color: #e59423;
}

.SobreMim.visible {
    opacity: 1; /* O texto ficará visível */
    transform: translateY(0); /* O texto volta à sua posição original */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-10px); /* Posição quando "sobe" */
    }
}

.perfil{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra para criar o efeito de flutuação */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de elevação quando o mouse passa sobre a imagem */
.perfil img:hover {
    transform: translateY(-10px); /* Move a imagem 10px para cima */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); /* Aumenta a sombra para intensificar o efeito */
}



.skills {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centraliza os itens no contêiner principal */
    flex-wrap: wrap;
    gap: 20px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro de cada skill-item */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px;
}

.skill-item span {
    color: #fff;
    padding: 5px 45px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}


.stars {
    display: flex;
    justify-content: center;
}


.stars i {
    color: #f5a623; /* Cor laranja para as estrelas */
    margin-right: 3px;
}


#services {
    background-color: #282828;
    padding: 50px 0;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.service i {
    font-size: 2rem;
    color: #f5a623;
    margin-bottom: 10px;
}


/*Style de projetos */
#projects {
    background-color: #282828;
    padding: 50px 0;
    text-align: center;
}

#projects h2 {
    color: #f5a623;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Estilizando o carrossel */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper que limita a largura visível */
.projects-wrapper {
    overflow: hidden;
    width: 85%;
}

/* Slider que contém os projetos */
.projects-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.7s ease-in-out;
}

/* Cada card de projeto */
.project-card {
    background-color: #333;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    flex: 0 0 auto;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card a {
    text-decoration: none;
    color: white;
    display: block;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: #ccc;
}

/* Setas de navegação */
button.prev, button.next {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

button.prev { left: 10px; }
button.next { right: 10px; }

button.prev:hover, button.next:hover {
    background: rgba(255, 165, 0, 0.8);
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}

footer p {
    color: #888;
}


